<h2>Welcome, Please select a button!</h2>

<%= button_to 'Play New Game', play_game_path, method: :get, class: 'btn btn-success' %>
<br><%= button_to 'View Game History', game_history_path, method: :get, class: 'btn btn-info' %>
<br><%= button_to 'Exit', sign_in_path, method: :get, class: 'btn btn-danger' %>