<h1>Game History</h1>

<p>Game history is not implemented. This is just a landing page. Please click the button below to go back to the user page.</p>

<%= button_to 'Go Back', user_page_path, class: 'btn btn-primary', method: :get %>